<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center mt-5">
      <h1>Welcome to Twain</h1>

      <p>Manage Projects and Blog Articles</p>
    </div>
  </div>
</div>
