<div class="container pb-5 mb-5">
  <%= render(
    'resource_nav',
    resource: @region,
    index_path: regions_path,
    edit_path: edit_region_path(@region)
  ) %>

  <h1 class="text-center mt-4 mb-4">
    Editing <%= singular_table_name.title %>
  </h1>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <%= render 'form', region: @region %>
    </div>
  </div>
</div>
