<div class="container">
  <h1 class="text-center mt-4 mb-4">
    New Sub genre
  </h1>

  <div class="row mt-4 justify-content-center">
    <div class="col-12 col-sm-10 pb-5 mb-5">
      <%= render 'form', sub_genre: @sub_genre %>
    </div>
  </div>
</div>
