<div class="container pb-5 mb-5">
  <%= render(
    'resource_nav',
    resource: @location,
    index_path: locations_path,
    edit_path: edit_location_path(@location)
  ) %>

  <h1 class="text-center mt-4 mb-4">
    Editing <%= singular_table_name.title %>
  </h1>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <%= render 'form', location: @location %>
    </div>
  </div>
</div>
